
<script>
          $arg1   = "<%= raw @arg1 %>"  //температура: ось-y
          $arg2   = <%= raw @arg2 %>    //месяцы:      ось-х
          $serMos = <%= raw @serMos %>
          $serNY  = <%= raw @serNY %>
          $serIR  = <%= raw @serIR %>
          $serKZ  = <%= raw @serKZ %>
        console.log("from html")
</script>

<%=javascript_include_tag "graph"%>

<h1>проба highcharts</h1>
<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<br><br>

<%= link_to 'обратно', mstores_path %>

<!--при повторном вызове нет отображения графика и потому так криво рефрешу по клику:-->
<script>
    $('#container1').click(function() {
        location.reload(false);             <!--false: reload from cash -->
    });
</script>



