
<!--link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"--> <!-- 3 KB -->
<!--script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></--script--> <!-- 16 KB -->
<%#= javascript_include_tag   'jquery.js' %>
<%#= stylesheet_link_tag   'fotorama.css' %>
<%#= javascript_include_tag 'fotorama.js' %>

<!--/head-->

<h1>Галерея</h1>

<div id="fotorama" class="fotorama"  align="center"
    data-nav="thumbs"
    data-thumbheight="48"
    data-width="800"
    data-height="600">

  <%= image_tag("1.jpg") %>
  <%= image_tag("2.jpg") %>
  <%= image_tag("3.jpg") %>
  <%= image_tag("4.jpg") %>
  <%= image_tag("5.jpg") %>
  <%= image_tag("6.jpg") %>

</div>
<br><br>

<%= link_to 'обратно', mstores_path %>
