<%= form_for @mstore, html: {class: "form-horizontal"} do |f| %>
  <% if @mstore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mstore.errors.count, "error") %> prohibited this mstore from being saved:</h2>

      <ul>
      <% @mstore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Наименование:",class:"control-label" %>
    <div class="controls">
     <%= f.text_field :position %>
    </div>
  </div>
  <div class="control-group">
     <%= f.label "Цена:",class:"control-label" %>
    <div class="controls">
     <%= f.text_field :price %>
    </div>
  </div>
  <div class="actions form-group">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
<!--field control-group form-group-->