<h1>Ценник</h1>

<table class="table  table-striped table-condensed table-hover"
       align="center">  <!--table-bordered-->
  <thead>
    <tr class="mybg">
      <th>Товар</th>
      <th>Цена</th>
      <th>Действия</th>
      <!--th colspan="3"></th-->
    </tr>
  </thead>

  <tbody>
    <% @mstores.each do |mstore| %>
      <tr>
        <td width="40%"><%= mstore.position %></td>
        <td width="20%"><%= mstore.price %></td>
        <td width="40%"><%= link_to 'Смотрим ', mstore %>
            <%= link_to 'Изменяем ', edit_mstore_path(mstore) %>
            <%= link_to 'Удаляем ', mstore, method: :delete, data: { confirm: 'А надо ли?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый товар', new_mstore_path %>
