<h1>Ценник</h1>

<table>
  <thead>
    <tr>
      <th>Товар</th>
      <th>Цена</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mstores.each do |mstore| %>
      <tr>

        <td><%= mstore.position %></td>
        <td><%= mstore.price %></td>
        <td><%= link_to 'Смотрим', mstore %></td>
        <td><%= link_to 'Изменяем', edit_mstore_path(mstore) %></td>
        <td><%= link_to 'Удаляем', mstore, method: :delete, data: { confirm: 'А надо ли?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый товар', new_mstore_path %>
