<header class="navbar  navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "склад", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  home_path %></li>
          <li><%= link_to "Graph", graph_path %></li>
          <li><%= link_to "Chartkick", chartkick_path %></li>
          <li><%= link_to "Галерея",  frama_path %></li>
          <li><%= link_to "Help",  help_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
